
{% load static %}

<!-- Preloader Area Start -->
  <div class="preloader">
    <svg viewbox="0 0 1000 1000" preserveaspectratio="none">
      <path id="preloaderSvg" d="M0,1005S175,995,500,995s500,5,500,5V0H0Z"></path>
    </svg>
    <div class="preloader-heading">
      <div class="load-text">
        <span>K</span>
        <span>A</span>
        <span>U</span>
        <span>S</span>
        <span>H</span>
        <span>A</span>
        <span>L</span>
      </div>
    </div>
  </div>
  <!-- Preloader Area End -->

  <!-- start: Back To Top -->
  <div class="progress-wrap" id="scrollUp">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewbox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
    </svg>
  </div>
  <!-- end: Back To Top -->

  <!-- start: Header Area -->
  <header class="tj-header-area header-absolute">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-12">
          <div class="tj-header-wrapper">
            <div class="tj-header-logo">
              <a href="#" onclick="location.reload();" ><img class="m-logo" src="{% static 'logo-m.png' %}" alt="logo"></a>
            </div>
            <div class="header-menu" id="headerMenu">
              <nav>
                <ul>
                  <li><a href="#works">Works</a></li>
                  <li><a href="#expertise">Expertise</a></li>
                  <li><a href="#feature">Features</a></li>
                  <li><a href="#cta">Contact</a></li>
                </ul>
              </nav>
            </div>
            <div class="mobile-menu d-lg-none"></div>
            <div class="tj-header-button icon_main d-none d-sm-inline-flex">
              <a class="tj-theme-btn" target="_blank" href="https://www.linkedin.com/posts/kaushal-chhetri-2871b8313_autodeskmaya-nuke-activity-7297854472129536000-owOc?utm_source=share&utm_medium=member_android&rcm=ACoAAE-V7ocBTuSevBwDO_J4c1WiMV1IV557O8o">Purchase Kaushal
                <span class="icon_box">
                  <i class="icon_first fa-regular fa-arrow-right"></i>
                  <i class="icon_second fa-regular fa-arrow-right"></i>
                </span>
              </a>
            </div>
            <div class="menu-bar d-lg-none">
              <button>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <header class="tj-header-area header-1 header-sticky sticky-out">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-12">
          <div class="tj-header-wrapper">
            <div class="tj-header-logo">
              <a href="index.html"><img class="m-logo2" src="{% static 'logo-m.png' %}" alt="logo"></a>
            </div>
            <div class="header-menu" id="headerMenu">
              <nav>
                <ul>
                  <li class="current_item"><a href="#works">Works</a></li>
                  <li class="current_item">
                    <a href="#expertise">Expertise</a>
                  </li>
                  <li class="current_item">
                    <a href="#feature">Features</a>
                  </li>
                  <li class="current_item">
                    <a href="#cta">Contact</a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="mobile-menu d-lg-none"></div>
            <div class="tj-header-button icon_main d-none d-sm-inline-flex">
              <a class="tj-theme-btn" target="_blank" href="https://themeforest.net/item/Kaushal-personal-portfolio-tailwind-css-template/56350173">Purchase
                Kaushal
                <span class="icon_box">
                  <i class="icon_first fa-regular fa-arrow-right"></i>
                  <i class="icon_second fa-regular fa-arrow-right"></i>
                </span>
              </a>
            </div>
            <div class="menu-bar d-lg-none">
              <button>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- end: Header Area -->